ul, li, ol, h1, h2, h3, h4, h5, h6, p, a{
    color: #000;
}

.section-1-zagolovok H3{
    color: #fff;
}

.section-2 h1{
    color: #000;
}

.section-2{
    background-color: #d1ccc0;
}

.section-4{
    background-color: #f7f1e3;
}

.section-4-block-2{
    background-color: #aaa69d;
}

.section-4-block-3{
    background-color: #d1ccc0;
}

.section-8{
    background-color: #f7f1e3;
}

.section-8-container div{
    border: solid 0.5px rgba(0, 0, 0);
}

.section-3{
    background-color: #d1ccc0;
}

.section-9{
    background-color: #aaa69d;
}
.section-1-sv{
    background-color: #d1ccc0;
}
.sv-content{
    border-color: #000;
}
.sv-menu button{
    color: #000;
    background-color: #f7f1e3;
}
.sv-menu button:hover{
    border-color: #000;
}
.active-btn{
    border-color: #000;
}
.section-1-cp{
    background-color: #d1ccc0;
}
.cp-line{
    background-color: #000;
    border-color: #000;
}

.mobail-icon p{
    color: #fff;
}